:root {
  --main-bg-color: rgba(209, 44, 115, 0.5);
}

* {
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
 color: blue;
 font-size: 3rem;
 text-align: center;
}

h2 {
  font-size: 2rem;
}

#menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 25rem;
  padding: 3rem;
  background-color: var(--main-bg-color); 
}

.form-wrapper {
  position: relative;
  width: 600px;
}

form {
  max-width: 600px;
  transition: all .5s;
  border: 0;
  background-color: var(--main-bg-color);
  border-radius: 1rem;
  padding: 2rem;
  margin-top: .5rem;
}

form >* {
 font-size: 2rem;
 transition: all .5s;
}

.form-control {
  width: 100%;
  display: flex;
}

.form-control > * {
  font-size: 2rem;
  border: 0;
  outline: 0;
  margin: .5rem;
  border-radius: .5rem;
  padding: .5rem;
}

.form-control > label {
  margin-right: 1rem;
}

.form-control > select, input {
  flex: 1;
}

input[type="submit"] {
  background-color: white;
  cursor: pointer;
}

#new-todo-btn {
  position: absolute;
  left: 0;
  width: 4rem;
  height: 4rem;
  border: 0;
  border-radius: 50%;
  padding: 1rem;
  background-color: #fc5203;
  color: white;
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform .5s;
  font-size: 3rem;
  font-weight: 700;
  outline: 0;
}

#test-div {
  border: 3px solid #BBB;
  width: 500px;
  height: 200px;
  border-radius: .5rem;
}

.invert {
  transform: rotate(180deg);
}

.hide {
  height: 0;
  padding: 0;

}

.hide > * {
  display: none;
}